ws-parent/ws-api/src/main/resources/META-INF/wsdl/HelloService.wsdl

<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://jaxws.akorolev.ru/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        name="HelloService"
        targetNamespace="http://jaxws.akorolev.ru/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://jaxws.akorolev.ru/" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0">
            <xsd:complexType name="SayHiResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="response" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SayHiRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="request" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sayHiResponse" type="tns:SayHiResponse"/>
            <xsd:element name="sayHiRequest" type="tns:SayHiRequest"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="sayHiResponse">
        <wsdl:part element="tns:sayHiResponse" name="sayHiResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHiRequest">
        <wsdl:part element="tns:sayHiRequest" name="sayHiRequest"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="HelloService">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHiRequest"></wsdl:input>
            <wsdl:output message="tns:sayHiResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="HelloServiceSoapBinding" type="tns:HelloService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>

    <wsdl:service name="HelloService">
        <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloServicePort">
            <soap:address location="http://localhost:8080/HelloService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>